#main{
    display: flex;justify-content: space-between;
}
#corner{
    width:23%;
    border-bottom: 1px solid black;
    gap: 15px;
    margin-left: 60px;
}
#corner>h3{
    width: auto;
    text-align: left;
    color: #000;
    background-color: #fff;
    margin-top: 30px;
    
}

#leftsort{
    display: flex;
    justify-content :left;
    margin-top: 10px;

}
#firstsort{
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 2%;
}
#leftsort>input{
    height: 20px;
    width: 20px;
}
#leftsort>div{
    font-size: 20px;
}
#right{
    width: 80%;
    margin-left: 10px;
}
#box{
    justify-content:center;width: 100%;margin: auto;
}
.inner{
    justify-content:space-between;background-color: transparent;padding-left: 0;padding-right: 0;
    display: flex;
}
.inner>div{
    display: flex;gap: 10px;
}
.inner>div>p{
    display: inline;white-space: nowrap;height: 40px;line-height: 40px;padding-right: 16px;margin-top: 0;margin-bottom: 0;
}
.inner>div>select{
    width: 200px;height: 35px;border: 1px solid rgb(59, 58, 58);border-radius: 5px;margin-top: 30px;
}
.page{
    display:grid;
    margin-top: 30px;
}
.page>div{
    border: 1px solid black;
    width: 30px;
    height:30px;
    text-align: center;
    /* margin: auto; */
    font-size: 20px;
}
.page>div:nth-child(2){
    background-color: black;
    color: white;
}
a{
    text-decoration: none;color: #000;
}
.A>a{
    color: white;margin: auto;
}
#container{
    display: grid;grid-template-columns: repeat(3,1fr);gap: 20px;width: 100%;margin:auto;
}
#container>div{
    text-align: center;line-height: 18px;justify-content: center;margin-bottom: 100px;
}
img{
    height: 300px;
    width:300px}
#container>div>p{
    font-family: "lato regular",Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.428;color: #000;font-weight: 500;letter-spacing: 0;text-transform: none;text-decoration: none;display: block;margin: 0;word-break: break-word;margin-top: 30px;
}
#container>div>p~p{
    font-family: "lato Bold",Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.53;color: #000;font-weight: 700;letter-spacing: .2px;text-transform: none;margin-top: 30px;
}
button{
    font-family: "lato regular",Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.2;color: #000;font-weight: 400;letter-spacing: 0;text-transform: none;box-sizing: border-box;background-color: #222;color: #fff;border-width: 2px;border-style: solid;border-color: #222;border-radius: 1px;display: inline-block;text-decoration: none;transition: background-color .2s;padding: 9.6px 32px;cursor: pointer;text-align: center;text-transform: uppercase;box-sizing: border-box;display: block;width:95%;margin-top: 30px;
}